<div class="flex-column"> <!-- Filtros y botones - top -->
    <div class="inline-flex justify-content-start"> <!-- Dropdown -->
        <span class="p-float-label">
            <p-dropdown [options]="localizaciones" [(ngModel)]="filterCenter" placeholder="Selecciona geografía" 
            optionLabel="name" [showClear]="true" class="p-3 block" (onChange)="onSearch()"></p-dropdown>
        </span>
        
    </div>

    <div class="inline-flex justify-content-end"> <!-- Botones de acción -->
        <button #b pButton type="button" class="p-button-primary p-3 block mt-3 ml-3" (click)="importarDatos()">Importar datos</button>
        <button #b pButton type="button" class="p-button-primary p-3 block mt-3 ml-3">Enviar correos</button>  
    </div>
</div>

<div class="mt-3 inline-flex justify-content-start"> <!-- Tabla - center -->
    <p-table class="flex" [columns]="cols" [value]="data" [loading]="isLoading" [scrollable]="true" 
        [autoLayout]="true" scrollHeight="calc(100vh - 215px)" responsiveLayout="scroll">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" pSortableColumn="{{col.field}}" class="flex {{col.width}}">
                    {{col.header}}
                    <p-sortIcon field="{{col.field}}"></p-sortIcon>
                </th>
                <th style="flex: 0 0 68px"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-evidenceItem let-columns="columns">
            <tr>
                <td *ngFor="let col of columns" class="flex {{col.width}} white-space-normal overflow-hidden text-overflow-clip">
                    {{evidenceItem[col.field]}}
                </td>
                <td style="flex: 0 0 68px">
                    <button pButton icon="pi pi-comments" class="p-button-rounded p-button-plain p-button-text icon"
                        *ngIf="evidenceItem.comment != null; else noComments" (click)="showComment(evidenceItem.personId, 
                        evidenceItem.name, evidenceItem.lastName, evidenceItem.comment)"></button>
                    <ng-template #noComments><button pButton icon="pi pi-comment" class="p-button-rounded p-button-plain 
                        p-button-text icon" (click)="showComment(evidenceItem.personId, evidenceItem.name, evidenceItem.lastName)">
                    </button></ng-template>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-toast position="top-center"></p-toast>
<button #b pButton type="button" (click)="importarDatos()">Importar datos</button>