<div> <!-- Filtros - top -->

</div>

<div> <!-- Tabla - center -->
    <p-table [value]="evidenceList" [loading]="isLoading">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id"> Id <p-sortIcon field="id"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-evidenceItem>
            <tr>
                <td>{{evidenceItem.id}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div> <!-- Botones - right -->
    <button #b pButton type="button" (click)="importarDatos()">Importar datos</button>
</div>

<p-toast></p-toast>
