/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap");
html, body { height: 100%; }
body { margin: 0; font-family: "Source Sans Pro", sans-serif; }


/* Estilos de la ventana fileupload */ 
.p-fileupload-buttonbar {
    border: 0px !important;
}ç

.p-fileupload {
    display: flex !important;
    align-items: center !important;
}

.p-fileupload-content {
    padding: 0px !important;
    flex:1;
}

.p-fileupload-row>div {
    flex: content !important;
}

.comment-fill:before {
    content: url('/assets/images/comments.png');
}

.p-multiselect-header {
    display: none !important;
}