// Elementos del contenido de la ventana
.content>* {
    margin-bottom: 10px;
}

// Estilo para botón de Seleccionar archivo
::ng-deep .p-fileupload-buttonbar .p-button {
    background-color: transparent;
    color: #3F51B5;
    border: 0 none;
}

// Estilo para sección botones de acción
.actions {
    text-align: right;
    margin-top: 20px;

    button {
        margin-left: 10px;
    }
}